doctype html
html(lang="en")
  head
    title= PageTitle
  body
    h1= PageH1
    table
        tr
            th Identifiant
            th Ville
        each city in list
            tr
            td= city._id
            td= city.name
            td 
              button(onclick="editItem(#{city.id})", title="Edit") Modifier
    div
      label Ajout d'une nouvelle ville
      form(action="/city", method="post")
        label(for="name") Nom de la ville
        input(type="text" name="name")
        button(type="submit") Envoyer
                